<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Show content of Access Records</h1>
        <table border="3px">
            <tr>
                <th>SI.NO</th>
                <th>Name</th>
                <th>Date</th>
                <th>Author</th>
            </tr>
            {% for RO in LAO %}
            <tr>
                <td>{{RO.id}}</td>
                <td>{{RO.name}}</td>
                <td>{{RO.date}}</td>
                <td>{{RO.author}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>