<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Show content of Webpages</h1>
        <table border="3px">
            <tr>
                <th>SI.NO</th>
                <th>Topic Name</th>
                <th>Name</th>
                <th>URL</th>
            </tr>
            {% for WO in LWO %}
            <tr>
                <td>{{WO.id}}</td>
                <td>{{WO.topic_name}}</td>
                <td>{{WO.name}}</td>
                <td>{{WO.url}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>